<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #a
        {
            align-content: center;
            display: flex;
            flex-direction: column;
            background-color: aqua;
        }
        #b
        {
            
            display: flex;
            flex-direction: column;
            background-color:yellow;
            align-content: center;
        }
        td
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="a">
   
        <h1>displaytopic</h1>
        <table border="3px" cellpadding="10px" cellspacing="10px">
            <tr>
                <th>Topics</th>
                <th>name</th>
                <th>url</th>
            </tr>
            {% for i in topics %}
                <tr>
                    <td>{{i.topic_name}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.url}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="b">
        <h1>displayrecords</h1>
        <table border="3px" cellpadding="10px" cellspacing="10px">
            <tr>
                <th>slno</th>
                <th>name</th>
                <th>author</th>
            </tr>
            {% for i in records %}
                <tr>
                    <td>{{i.slno}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.author}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>

